.nopricing .f4 {display: none !important;}
.stitched2 {padding: 20px;margin: 0px;color: #fff;font-weight: bold;border: 2px dashed #fff;}
.no-centerx .grey-3 {text-align: left;font-size: -webkit-xxx-large;}
.no-centerx .primary {font-size: xx-large;text-align: left;}
.xlogox { width: 8em !important; }
