{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title "subtitle" .Params.subtitle) }}

{{ partial "short-text" .Params.blurb}}

{{ partial "2-up" .Params }}

{{ partial "text-and-image" (dict "heading" .Params.values.heading "text" .Params.values.text "buttonText" "Read more" "buttonLink" "/values") }}

<!--- {{ partial "blog" . }} --->


<div class="mw7 center">
  <h2 class="f2 b lh-title mb3">Latest stories</h2>
  <br /> 
  <ul class="mhn1-ns pa3"> <!-- flex-ns flex-wrap  --->
      {{ range (.Paginator 4).Pages.ByPublishDate.Reverse }}
          <div class="ph1-ns flex"> <!-- w-50-ns  --->
            {{ .Render "li"}}
          </div>
      {{ end }}
  </ul>
  {{ partial "pagination" . }}
</div>
<br />

{{ end }}
