{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title "subtitle" .Params.subtitle) }}

{{ partial "short-text" .Params.blurb}}

{{ partial "2-up" .Params }}

{{ partial "text-and-image" (dict "heading" .Params.values.heading "text" .Params.values.text "buttonText" "Read more" "buttonLink" "/values") }}

<!--- {{ partial "blog" . }} --->
<br /> 
<div class="mw7 center">
  <h2 class="f2 b lh-title mb3">Latest stories</h2>
  <br /> 
  <ul class="mhn1-ns flex-ns flex-wrap pa3"> <!--  --->
      {{ range (.Paginator 2).Pages.ByPublishDate.Reverse }}
          <div class="ph1-ns w-50-ns flex"> <!--   --->
            {{ .Render "li"}}
          </div>
      {{ end }}
  </ul>
  {{ partial "pagination" . }}
</div>
<br /> 















<!-- {{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title) }} --->

{{ partial "4-up" .Params.intro }}


{{ with .Params.main }}
<div class="mw7 center">
  <div class="mw6 ph3 mb3">
    <h3 class="f3 b lh-title mb2">{{ .heading }}</h3>
    <p>{{ .description }}</p>
  </div>
</div>

<!-- Image grid -->
{{ partial "image-grid" . }}
{{ end }}

<div class="pb4">
  {{ range .Params.testimonials }}
    {{ partial "blockquote" . }}
  {{ end }}
</div>

<!-- Full-width image -->
<img src="https://d33wubrfki0l68.cloudfront.net/ced3a2d8b0d37df04c38ff5250c93d9272fe7f1e/c2807/img/products-full-width.jpg" alt="" class="db w-100">

<div class="no-centerx"> 
  <!--- {{ partial "table" .Params.pricing }} --->
</div>






<div class="nopricing">
  
  <h2 class="f2 b lh-title mb2">Growth Hack Your SEO Strategy</h2>
  
  {{ partial "tableX" .Params.pricing }}
</div>


<div class="mw7 center ph3 pt4">

  {{ range $index, $element := .Params.valuesX }}
    {{ if modBool $index 2 }}
      {{ partial "media-block" $element }}
    {{ else }}
      {{ partial "media-block-reverse" $element }}
    {{ end }}
  {{ end }}

</div>

<!-- Full-width image -->
<img src="{{ .Params.full_image }}" alt="" class="db w-100">




{{ end }}
